{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron description" >
        <div class="container" >
        <h1 class="display-3">The Team</h1>
        <p>
            Meet your team.
        </p>
        </div>
    </div>
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-4">
            <img class="rounded-circle" src="https://zen-gineer.github.io/jen.jpg"  width="140" height="140">
            <h2>Jennifer Shtaway</h2>
            <p>"Look deep into nature, and then you will understand everything better." -Albert Einstein</p>
            <p><a class="btn btn-secondary" href="https://zen-gineer.github.io/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C5603AQGu_aVva7dKwA/profile-displayphoto-shrink_800_800/0?e=1542844800&v=beta&t=QQFfaewY0pvCmgwVJ36uY-VKR_IxJjpM6GRGOdGrVaA" alt="Generic placeholder image" width="140" height="140">
            <h2>Raymond Tiu</h2>
            “It’s the possibility of having a dream come true that makes life interesting.” - Paulo Coelho, The Alchemist</p>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/raymondwtiu/detail/photo/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C4D03AQGohJ2VLVZZNg/profile-displayphoto-shrink_800_800/0?e=1542844800&v=beta&t=4FERQo-nbwDx59cfNfz0kYHOUHq6ofkHNm6LO-C_lRY" alt="Generic placeholder image" width="140" height="140">
            <h2>Aubrey Beltran</h2>
            <p>“The best way to predict your future is to create it.”
                    ― Abraham Lincoln</p>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/aubrey-beltran/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    </div><!-- /.container -->
    <!-- FOOTER -->
    <!-- <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
    </footer>
    </main> -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    
        

{% endblock %}